*.PcbDoc.Zip
*.PcbLib.Zip
*.SchLib.Zip
*.SchDoc.Zip
*.PrjPcb.Zip
/Audio/Molniya-Relay Attenuator/SW/Project/MolniyaRelayAttenuator.X/nbproject/private/
Makefile-local-default.mk
Audio/Molniya-Relay Attenuator/SW/Project/MolniyaRelayAttenuator.X/build/
Audio/Molniya-Relay Attenuator/SW/Project/MolniyaRelayAttenuator.X/dist/
Makefile-genesis.properties
